
			@media( max-width: 1080px ){
				div.gradeDias {
					grid-template-columns: auto auto auto;
				}
			}

			@media( max-width: 720px ){
				div.gradeDias {
					grid-template-columns: auto auto;
				}

				div.infoCidade {
					grid-template-columns: 100%;
				}
			}

			@media( max-width: 480px ){
				div.gradeDias {
					grid-template-columns: 100%;
				}
			}

			.infoCidade {
				display: grid;
				grid-template-columns: 50% 50%;
			}

			.left {
				height: fit-content;
			}

			.gradeDias {
				display: grid;
				grid-template-columns: repeat(6, 15%);
				grid-gap: 20px;
				justify-content: space-between;
			}

			.gradeDias div {
				display: grid;
				padding: 5px;
			}

			div.quadroDia {
				border: var(--borda);
				padding: calc( var(--lados) / 2);
				box-shadow: 0 0 20px -15px var(--corPadrao1);
				border-radius: var(--lados);
			}

			.temperatura {
				grid-template-columns: 50% 50%;
			}

			div.min {
				background: #00f;
			}

			div.max {
				background: #f00;
			}

			button, a.botao{
				background: var( --corPadrao1 );
			}

			fieldset {
				box-shadow: 0 0 20px -15px var(--corPadrao1);
			}

			input.editavel:checked ~ fieldset {
			  left:0;
			  display: grid;
			}

			fieldset{ display: none }
			input:checked ~ fieldset{
				display: block;
				margin-bottom: var(--lados)
			}
			label div.onOff, label div div.chave{
				background: #fff2;
				border-radius: calc(var(--lados)*2);
			}
			label:has(div.onOff) {
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
			label div div.chave{
				width: calc(var(--lados)/4);
				padding: var(--lados);
			}

			label div.onOff{
				width: calc(var(--lados)*4.4);
				padding: calc(var(--lados)/2);
			}

			input:checked ~ label div div.chave {
				content: "on";
				color: white;
				margin-left: calc(var(--lados)*2);
				background: var(--corPadrao2);
			}

			label, button, a.botao{ display: grid; }
			fieldset, label, button, a.botao{
				border: var(--borda);
				margin: 5px 0;
				color: var( --corPadrao2 );
			}
			
			label input, label select{
				background: none;
				border: none;
				color: var( --corPadrao2 );
			}

div#llTempo {
    background: url(https://img.freepik.com/fotos-premium/plano-de-fundo-do-ceu-apenas-nuvens-no-ceu-azul-vertical_483040-5179.jpg?w=2000);
    padding:  var(--lados) 0;
    border-radius: 30px;
    background-size: cover;
    background-position: 50%;
    /* box-shadow: inset 5px 5px 5px #fff, inset -5px -5px 5px #666, 0px 0px 15px #888; */
}

.quadroDia {
    background: #fffc;
}

			div.pn .condicao{
				content: url( 'data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="drawe" height="100" width="120"><text class="item0" font-size="80px" transform="translate(12, 75)" style="fill: rgb(255 255 255)" stroke-width="1px" stroke="rgb(0 0 0)">🌤</text></svg>' );
			}

			div.sol .condicao{
				content: url( 'data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="drawe" height="100" width="120"><text class="item0" font-size="80px" transform="translate(12, 75)" style="fill: rgb(255 255 255)" stroke-width="1px" stroke="rgb(0 0 0)">☀</text></svg>' );
			}

			div.c .condicao{
				content: url( 'data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="drawe" height="100" width="120"><text class="item0" font-size="80px" transform="translate(12, 75)" style="fill: rgb(255 255 255)" stroke-width="1px" stroke="rgb(0 0 0)">🌧</text></svg>' );
			}

			div.ci .condicao{
				content: url( 'data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="drawe" height="100" width="120"><text class="item0" font-size="80px" transform="translate(12, 75)" style="fill: rgb(255 255 255)" stroke-width="1px" stroke="rgb(0 0 0)">☂</text></svg>' );
			}

			#rodapoe{
				padding: 30px 0;
				width: 100%;
				text-align: center;
			}

			.infoCidade {
				display: grid;
				grid-template-columns: 50% 50%;
			}

			.left {
				height: fit-content;
			}

			.gradeDias {
				display: grid;
				grid-template-columns: repeat(6, 15%);
				grid-gap: 20px;
				justify-content: space-between;
			}

			.gradeDias div {
				display: grid;
				padding: 5px;
			}

			div.quadroDia {
				border: var(--borda);
				padding: calc( var(--lados) / 2);
				box-shadow: 0 0 20px -15px var(--corPadrao1);
				border-radius: var(--lados);
			}

			.temperatura {
				grid-template-columns: 50% 50%;
			}

			div.min {
				background: #00f;
			}

			div.max {
				background: #f00;
			}

			button, a.botao{
				background: var( --corPadrao1 );
			}

			fieldset {
				box-shadow: 0 0 20px -15px var(--corPadrao1);
			}

			input.editavel:checked ~ fieldset {
			  left:0;
			  display: grid;
			}

			fieldset{ display: none }
			input:checked ~ fieldset{
				display: block;
				margin-bottom: var(--lados)
			}
			label div.onOff, label div div.chave{
				background: #fff2;
				border-radius: calc(var(--lados)*2);
			}
			label:has(div.onOff) {
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
			label div div.chave{
				width: calc(var(--lados)/4);
				padding: var(--lados);
			}

			label div.onOff{
				width: calc(var(--lados)*4.4);
				padding: calc(var(--lados)/2);
			}

			input:checked ~ label div div.chave {
				content: "on";
				color: white;
				margin-left: calc(var(--lados)*2);
				background: var(--corPadrao2);
			}

			label, button, a.botao{ display: grid; }
			fieldset, label, button, a.botao{
				border: var(--borda);
				margin: 5px 0;
				color: var( --corPadrao2 );
			}
			
			label input, label select{
				background: none;
				border: none;
				color: var( --corPadrao2 );
			}

div#llTempo {
    background: url(https://img.freepik.com/fotos-premium/plano-de-fundo-do-ceu-apenas-nuvens-no-ceu-azul-vertical_483040-5179.jpg?w=2000);
    padding:  var(--lados) 0;
    border-radius: 30px;
    background-size: cover;
    background-position: 50%;
    /* box-shadow: inset 5px 5px 5px #fff, inset -5px -5px 5px #666, 0px 0px 15px #888; */
}

.quadroDia {
    background: #fffc;
}

			div.pn .condicao{
				content: url( 'data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="drawe" height="100" width="120"><text class="item0" font-size="80px" transform="translate(12, 75)" style="fill: rgb(255 255 255)" stroke-width="1px" stroke="rgb(0 0 0)">🌤</text></svg>' );
			}

			div.sol .condicao{
				content: url( 'data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="drawe" height="100" width="120"><text class="item0" font-size="80px" transform="translate(12, 75)" style="fill: rgb(255 255 255)" stroke-width="1px" stroke="rgb(0 0 0)">☀</text></svg>' );
			}

			div.c .condicao{
				content: url( 'data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="drawe" height="100" width="120"><text class="item0" font-size="80px" transform="translate(12, 75)" style="fill: rgb(255 255 255)" stroke-width="1px" stroke="rgb(0 0 0)">🌧</text></svg>' );
			}

			div.ci .condicao{
				content: url( 'data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="drawe" height="100" width="120"><text class="item0" font-size="80px" transform="translate(12, 75)" style="fill: rgb(255 255 255)" stroke-width="1px" stroke="rgb(0 0 0)">☂</text></svg>' );
			}

			#rodapoe{
				padding: 30px 0;
				width: 100%;
				text-align: center;
			}
